.page-banner {
  padding: 90px 10%;
  text-align: center;
  background: #eef7fb;
}

.page-banner h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  padding: 80px 10%;
}

.about-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  animation: float 4s infinite;
}

.section-title {
  margin-bottom: 35px;
  text-align: center;
}

.timeline {
  border-left: 4px solid #3b82f6;
  padding-left: 30px;
  max-width: 700px;
  margin: auto;
}

.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 5px;
  width: 18px;
  height: 18px;
  background: #3b82f6;
  border-radius: 50%;
}

.career-card {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.skills {
  max-width: 800px;
  margin: auto;
}

.skill {
  margin-bottom: 30px;
}

.skill div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.progress {
  height: 10px;
  background: #ddd;
  border-radius: 50px;
  overflow: hidden;
}

.progress div {
  height: 100%;
  background: #3b82f6;
}

.html {
  width: 95%;
}
.css {
  width: 90%;
}
.js {
  width: 85%;
}
.git {
  width: 80%;
}

.hobbies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.hobby {
  background: white;
  padding: 35px;
  text-align: center;
  border-radius: 12px;
  transition: 0.4s;
}

.hobby:hover {
  transform: translateY(-8px);
}

.hobby i {
  font-size: 45px;
  color: #3b82f6;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 18px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #3b82f6;
  color: white;
}

.quote {
  padding: 80px;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  background: #eef7fb;
}

@media (max-width: 900px) {
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image {
    display: flex;
    justify-content: center;
  }

  .quote {
    padding: 40px 20px;
    font-size: 1.2rem;
  }
}
